.body {
    font-family: "Roboto", serif;
}


.header-title-1{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31 / 26);
/* identical to box height */
letter-spacing: 0.03em;

color: #2196F3;
}

.header-li-1 {

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;

color: #2196F3;


}

.header-li-1.2 {


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: ;
letter-spacing: 0.02em;

color: #212121;


}




.header-li-2.1 {

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;

color: #757575;
color: #2196F3;


}

.header-li-2.2 {

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;

color: #757575;


}

.main-title1 {


font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: calc(60 / 44);
/* or 136% */
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;






}

.main-button {

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

position: absolute;
width: 165px;
height: 70px;
left: 709px;
top: 440px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: calc(30 / 16);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;






}

.main-h3 {

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;


}

.main-p {


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: calc(24 / 14);
/* or 171% */
letter-spacing: 0.03em;

color: #757575;


}

.main-title { 


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;


}

.main-h2 {

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: calc(42 / 36);
text-align: center;
letter-spacing: 0.03em;

color: #212121;




}

.footer-title-1 {


font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31 / 26);
letter-spacing: 0.03em;

color: #2196F3;


}

.footer {
width: 1600px;
height: 252px;
left: 0px;
top: 2094px;

background: #2F303A;

}

.footer-p {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

color: #FFFFFF;


}

.main-section {


width: 1600px;
height: 600px;
left: -15px;
top: 80px;

background: #2F303A;
}

.footer-a-1 {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: calc(24 / 14);
/* or 171% */
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);


}

.footer-a-2 {


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: calc(24 / 14);
/* or 171% */
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);


}